<?xml version="1.0" ?>
<robot name="Mug_6a9b31e1298ca1109c515ccf0f61e75f_handle">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>
   <link name="top">
      <inertial>
         <origin rpy="1.145076540105708e-05 4.337356236604433e-05 5.316445387008252e-05" xyz="-0.04888517731914972 0.003776910480828707 0.002329343694551995"/>
         <mass value="0.05793266011505923"/>
         <inertia ixx="4.33734559778464e-05" ixy="-5.278543657702833e-11" ixz="-5.827698180427687e-08" iyy="5.316445386979792e-05" iyz="6.38183085994422e-14" izz="1.145087178953959e-05"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="bottom">
      <inertial>
         <origin rpy="0.0007966073800054548 0.001078148432280896 0.001078149397333554" xyz="0.01447774999996061 -0.0008085009463862627 0.001602000000000001"/>
         <mass value="0.7220608470211345"/>
         <inertia ixx="0.001078148432280896" ixy="9.857983084354158e-15" ixz="9.727644003623605e-21" iyy="0.001078149397333555" iyz="1.053828100392557e-20" izz="0.0007966073800054549"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="world"/>
   <joint name="world_to_base" type="fixed">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 0"/>
      <parent link="world"/>
      <child link="bottom"/>
   </joint>
   <joint name="rotation" type="revolute">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="bottom"/>
      <child link="top"/>
      <dynamics damping="1.0" friction="1.0"/>
      <limit effort="0.1" velocity="0.1" lower="0" upper="0.001"/>
   </joint>
</robot>
