<?xml version="1.0" ?>
<robot name="Mug_40f9a6cc6b2c3b3a78060a3a3a55e18f_handle">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>
   <link name="top">
      <inertial>
         <origin rpy="4.588411974223787e-06 1.289367021335901e-05 1.677945905191372e-05" xyz="0.05626780724614804 -0.009541338867130603 0.01121929214270048"/>
         <mass value="0.03159637479775722"/>
         <inertia ixx="1.296542731277289e-05" ixy="6.458764013886007e-07" ixz="-5.477056311454774e-07" iyy="1.667007085231354e-05" iyz="1.057931286627159e-07" izz="4.626043074410093e-06"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="bottom">
      <inertial>
         <origin rpy="0.0005259960231229985 0.0006383760858421397 0.0006383769945803076" xyz="-0.005933033406736727 0.001092981401813445 0.002409000054876492"/>
         <mass value="0.5431014043868299"/>
         <inertia ixx="0.0006383762996239208" ixy="-3.854465127601376e-10" ixz="-1.228864826589251e-12" iyy="0.0006383767807985264" iyz="-4.478815795104786e-13" izz="0.0005259960231229986"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="world"/>
   <joint name="world_to_base" type="fixed">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 0"/>
      <parent link="world"/>
      <child link="bottom"/>
   </joint>
   <joint name="rotation" type="revolute">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="bottom"/>
      <child link="top"/>
      <dynamics damping="1.0" friction="1.0"/>
      <limit effort="0.1" velocity="0.1" lower="0" upper="0.001"/>
   </joint>
</robot>
