<?xml version="1.0" ?>
<robot name="Knife_225">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>
   <link name="top">
      <inertial>
         <origin rpy="6.330182098174314e-05 0.0007933259184288737 0.0008482178229964042" xyz="0.003154960735397584 -0.02868243754154053 -0.0002358196490089637"/>
         <mass value="0.205067098879849"/>
         <inertia ixx="0.0007640366746685611" ixy="0.0001432620148629006" ixz="-1.16318579224598e-08" iyy="9.259114002302609e-05" iyz="2.139799337504154e-07" izz="0.0008482177477154338"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="bottom">
      <inertial>
         <origin rpy="4.921226617697685e-06 4.441923819306426e-05 4.883840083810015e-05" xyz="-0.006083083623381 0.1230971172620466 -0.000226"/>
         <mass value="0.03876814403864444"/>
         <inertia ixx="4.441595582930668e-05" ixy="3.600500906534802e-07" ixz="-6.333101564859118e-23" iyy="4.924508981455264e-06" iyz="8.106370003019671e-22" izz="4.883840083810015e-05"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="world"/>
   <joint name="world_to_base" type="fixed">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 0"/>
      <parent link="world"/>
      <child link="bottom"/>
   </joint>
   <joint name="rotation" type="revolute">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="bottom"/>
      <child link="top"/>
      <dynamics damping="1.0" friction="1.0"/>
      <limit effort="0.1" velocity="0.1" lower="0" upper="0.001"/>
   </joint>
</robot>
