<?xml version="1.0" ?>
<robot name="Scissors_11060">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>
   <link name="top">
      <inertial>
         <origin rpy="0.0003108836050354747 0.0004778292203012912 0.0007713873025444356" xyz="0.06621618828146397 -0.000837281799480142 4.126083745599887e-06"/>
         <mass value="0.2928392104368626"/>
         <inertia ixx="0.0004778115841658149" ixy="1.715794116655989e-06" ixz="-4.170047665291735e-09" iyy="0.0003109025903197272" iyz="7.882004825257829e-07" izz="0.0007713859533956594"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="bottom">
      <inertial>
         <origin rpy="2.223721581599053e-05 0.0004054965293522511 0.0004254370117709967" xyz="-0.07303955942868399 -0.001022046538798135 0.0003496370300867112"/>
         <mass value="0.112192524343173"/>
         <inertia ixx="2.224429041740124e-05" ixy="6.775744009099555e-07" ixz="-1.539009205532281e-06" iyy="0.0004054966350306491" iyz="1.639448420413495e-07" izz="0.000425429831491188"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="world"/>
   <joint name="world_to_base" type="fixed">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 0"/>
      <parent link="world"/>
      <child link="bottom"/>
   </joint>
   <joint name="rotation" type="revolute">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="bottom"/>
      <child link="top"/>
      <dynamics damping="1.0" friction="1.0"/>
      <limit effort="0.1" velocity="0.1" lower="0" upper="0.001"/>
   </joint>
</robot>
